<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    {{#if auth.user}}
        {{t "pages.personal.welcome" name:user.name}}
    {{else}}
        {{t "core.pages.personal.signInOrUp"}}
    {{/if}}
    <span class="caret"></span>
</a>
<ul class="dropdown-menu">
    {{#if auth.user}}
        <li>{{#link-to "personal.profile"}} {{t "core.pages.personal.profile" }} {{/link-to}}</li>
        {{#if auth.isAdmin}}
            <li>{{#link-to "personal.dashboard"}} {{t "core.pages.personal.dashboard" }} {{/link-to}}</li>
        {{/if}}
        <li class="divider"></li>
        <li><a>{{t "core.pages.personal.signOut" }}</a></li>
    {{else}}
        <li>{{#link-to "personal.sign-in"}} {{t "core.pages.personal.signIn" }} {{/link-to}}</li>
        <li>{{#link-to "personal.sign-up"}} {{t "core.pages.personal.signUp" }} {{/link-to}}</li>
        <li>{{#link-to "personal.forgot-password"}} {{t "core.pages.personal.forgotPassword" }} {{/link-to}}</li>
        <li class="divider"></li>
        <li>{{#link-to "personal.confirm"}} {{t "core.pages.personal.confirm" }} {{/link-to}}</li>
        <li>{{#link-to "personal.unlock"}} {{t "core.pages.personal.unlock" }} {{/link-to}}</li>
        <li class="divider"></li>
        <li><a href="{{siteInfo.item.oauth.google}}">{{t "core.pages.personal.oauth.google" }}</a></li>
    {{/if}}
</ul>
